src/main/mule/uhub-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="uhub-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="uhub-sapi-config" api="uhub-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" >
		<apikit:flow-mappings >
			<apikit:flow-mapping resource="/health-check" action="get" flow-ref="get:\health-check:uhub-sapi-config" />
			<apikit:flow-mapping resource="/cases/{nationalID}" action="get" flow-ref="get:\cases\(nationalID):application\json:uhub-sapi-config" />
		</apikit:flow-mappings>
	</apikit:config>
    <flow name="uhub-sapi-main">
        <http:listener config-ref="uhub-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="uhub-sapi-config" />
    </flow>
    <flow name="uhub-sapi-console">
        <http:listener config-ref="uhub-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="uhub-sapi-config" />
    </flow>
    <flow name="put:\cases">
		<flow-ref doc:name="Flow Reference" doc:id="41659c63-9e2c-41fe-b6a4-f06bfa8dd3ab" name="update-covid-case-sub-flow"/>
    </flow>
    <flow name="get:\reports:application\json:uhub-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="16a51f24-30be-4efc-b84a-d4f3339e8f4e" name="get:\reports:uhub-sapi"/>
    </flow>
    <flow name="get:\cases\(nationalID):application\json:uhub-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="d3a8ab7a-9792-4bc7-84ac-62302f2bf830" name="get:\cases\(nationalID):uhub-sapi-config"/>
    </flow>
    <flow name="post:\cases:application\json:uhub-sapi-config">
        <flow-ref doc:name="Flow Reference" doc:id="dc52484a-7165-4877-ab6f-de28b63cabc7" name="post-register-covid-case"/>
    </flow>
</mule>
